.container {
    background-color: rgb(0, 0, 0);
    padding:15px 15px;
        /* min-width: 1440px; */
}
.container a {
    color: #fff;
outline: none;
text-decoration: none;
}
.containerList {
display: flex;
justify-content:flex-start;
align-items:center;
gap: 10%;
}
.containerListItem {
    color: #fff;
    list-style: none;
}
.logo {
width: 178px;
height:61px;
}